<div class="col-md-8 col-md-offset-2">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Sign in </strong></h3></div>
    <div class="panel-body">
      <form role="form">
        <div class="form-group">
          <label for="userEmail">Email</label>
          <input type="email" class="form-control" id="userEmail" placeholder="Enter Email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter Password">
        </div>
        <button type="submit" class="btn btn-sm btn-primary sign-in">Sign in</button>
      </form>
    </div>
  </div>
</div>
