<section class="sec-questions" id="sec-questions">
  <h2>Questions</h2>
  <div class="row">
    <div class="col-sm-12">
      <p class="pull-right">
        <a class="btn btn-default" href="#new-question">Post a new question</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <hr/>
      <ol class="questions-list">

      </ol>

    </div>
  </div>

</section>
